# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
watermelon-db-clone/

# Lock files (except pnpm)
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

app-example

# Expo Router
.expo-router/
ios/
android/

# Sensitive files
*firebase-adminsdk*.json
google-services.json
*.keystore

thryve-prod-firebase-adminsdk-siuk4-22b6e892dc.json
thryve-prod-1bedec64ac40.json
credentials.json

# ESLint
.eslintcache

# Sync testing files
new-sync/*

# tmp/db/watermelon.db - local db for testing
tmp/db/watermelon.db

# WatermelonDB files
tmp/db/
tmp/db-android/
*.db

# Tunnel files
tunnel-*.log
tunnel-*.txt
tunnel-*.json
